<?php

/** credenziali di accesso al database postgres */

$host="db_host";
$port="db_port";
$dbname="db_name";
$user="db_user";
$password="db_password";

/** numero di misurazioni da eseguire */

$nTest = 10; /** esegui 10 misurazioni */